@{ ViewData["Title"] = "travel";
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml"; }
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Default Example <small>Vehicle</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-area="admin" asp-controller="touristSpot" asp-action="createTra" asp-route-id="@ViewBag.tour.Id"><h4>Create vehicle</h4></a>
                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Active</th>
                            </tr>
                            @foreach (var travel in ViewBag.tour.TourTravels)
                            {
                <tr>
                    <td>@travel.Travel.Id</td>
                    <td>@travel.Travel.Name</td>
                    <td><img src="~/Img/@travel.Travel.Img" width="100" height="120" /></td>
                    <td>
                        <a asp-area="admin" asp-controller="touristSpot" asp-action="DeleteTouTra" asp-route-id="@travel.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>