@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Share/_Layout.cshtml";
}
@model eProject.Models.Feedback

<main id="main">
    <form asp-controller="home" asp-action="contact" method="post">
        <!-- ======= Contact Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Contact</h2>
                    <ol>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li>Contact</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Contact Section -->
        <!-- ======= Contact Section ======= -->
        <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-map"></i>
                                    <h3>Our Address</h3>
                                    <p>212 - 214 Nguyen Dinh Chieu, Ward 6, District 3, Ho Chi Minh City</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>karneltravels@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Call Us</h3>
                                    <p>Hotline: 1800 1141<br>Phone: +84 972 327 613 </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div role="form" class="php-email-form">
                            <h5>Feedback</h5>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" asp-for="Name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="text" class="form-control" asp-for="Addr" placeholder="Your Address" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="number" min="15" class="form-control" name="Age" asp-for="Age" placeholder="Your Age" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" rows="5" placeholder="Message" asp-for="Content" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->
        <!-- ======= Map Section ======= -->
        <section class="map mt-2">
            <div class="container-fluid p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.421315096969!2d106.68862341915889!3d10.779008180803478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3a9d92c4a7%3A0x6293396afcadc8a5!2zMjEyIE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1LCBQaMaw4budbmcgNiwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1624372768211!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section><!-- End Map Section -->
    </form>
</main><!-- End #main -->